<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>EngLists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<div id="top">
  <p id="logo_name">EngList</p>

  <% if user_signed_in? %>
      <p id="help_guide">Press Enter to save something ; )</p>
      <div id="user" data-user="<%=current_user.id%>">
        <p id="user_name">Welcome, <%= truncate(current_user.name, length: 14) %></p>
        <%= link_to 'Sign off', destroy_user_session_path,  :method => :delete %>
      </div>
  <% end %>

</div>

<%= yield %>

</body>
</html>
